---
workflow:
   rules:
      - if: $CI_MERGE_REQUEST_ID
        when: always
      - when: never

stages:
   - prepare
   - qa
   - test
   - sast

include:
   - template: Jobs/SAST.gitlab-ci.yml

default:
   image: python:3.10

prepare:
   stage: prepare
   script:
      - pip install poetry
      - poetry config virtualenvs.create false
      - poetry install

qa:
   stage: qa
   script:
      - pip install poetry
      - poetry config virtualenvs.create false
      - poetry run black . --check
      - poetry run mypy .
      - poetry run pylint coordextract

test:
   stage: test
   script:
      - poetry run pytest

sast:
   stage: sast
