---
workflow:
   rules:
      - if: $CI_MERGE_REQUEST_ID
        when: always
      - if: '$CI_COMMIT_BRANCH == "main"'
        when: always
      - when: never

stages:
   - build
   - prepare
   - qa
   - test
   - sast

include:
   - template: Jobs/SAST.gitlab-ci.yml

default:
   image: registry.gitlab.com/smcleaish/coordextract/coordextract-python3.11-ci:latest
   cache:
      paths:
         - .cache/pypoetry
         - .venv/
      key:
         prefix: project-cache
         files:
            - poetry.lock

before_script:
   - poetry config virtualenvs.in-project true
   - poetry config cache-dir .cache/pypoetry

qa:
   stage: qa
   script:
      - poetry run isort . --check
      - poetry run black . --check
      - poetry run mypy coordextract
      - poetry run pylint coordextract tests
test:
   stage: test
   coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
   script:
      - poetry run pytest --cov=coordextract --cov-report=xml:coverage.xml --cov-report=term --junitxml=pytest.xml
   artifacts:
      reports:
         junit: pytest.xml
         coverage_report:
            coverage_format: cobertura
            path: coverage.xml
sast:
   stage: sast
