---
workflow:
   rules:
      - if: $CI_MERGE_REQUEST_ID
        when: always
      - when: never

stages:
   - prepare
   - qa
   - test
   - sast

include:
   - template: Jobs/SAST.gitlab-ci.yml

default:
   image: python:3.10

qa:
   stage: qa
   script:
      - pip install poetry
      - poetry install
      - poetry config virtualenvs.create false
      - poetry run isort . --check
      - poetry run black . --check
      - poetry run mypy coordextract
      - poetry run pylint coordextract tests

test:
   stage: test
   script:
      - pip install poetry
      - poetry install
      - poetry config virtualenvs.create false
      - poetry run pytest --cov=coordextract --cov-report=xml:coverage.xml --cov-report=term --junitxml=pytest.xml

sast:
   stage: sast
